<!DOCTYPE html>
<html lang="en">
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
	
		
		<nav class="navbar navbar-default navbar-fixed-top"> <!-- Estilo da barra navegação bootstrap (este é cor branca) -->
			<div class="container">
				<div class="navbar-header">	<!-- Cabeçalho do navbar -->
					<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Logo</a>
				</div>	<!-- Final do cabeçalho do navbar -->
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#servicos">Serviços</a></li>
					<li><a href="#equipe">Equipe</a></li>
					<li><a href="#fale_conosco">Fale Conosco</a></li>
				</ul>	
			</div>	
		</nav>
	
		<div id="home">
			<div class="center">
				<h1>HELLO WORLD</h1>
			</div>
		</div> 
		
		
		<div id="servicos">
			Serviços
			<center>
			<img class=" " src=" ">
			</center>
		</div>


		<div id="equipe">
			Equipe
		</div>


		<div id="fale_conosco">
			Fale Conosco
		</div>
		
		
	</body>
</html>




	

